<div class="newness">
    <div class="container-fluid">
        <div class="newness__heading">
            <div class="newness__image">
                <img src="assets/images/rope.jpg" alt="rope">
            </div>
            <div class="newness__text">
                <h3>New articles</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem error magnam nihil placeat quos! Corporis eveniet laborum nobis placeat rerum sapiente, vero. Cumque ex explicabo ipsam non placeat, rem voluptas.</p>
            </div>
        </div>
    </div>
<!--    <app-shop [products]="[]" [hasPagination]="false"></app-shop>-->
</div>
