
<footer class="footer">
    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Navigate</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a routerLink="/home"><i class="fa fa-angle-double-right"></i>Products</a></li>
                        <li><a routerLink="/new"><i class="fa fa-angle-double-right"></i>New arrivals</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>About</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a routerLink="/conditions"><i class="fa fa-angle-double-right"></i>What we do ?</a></li>
                        <li><a routerLink="/conditions"><i class="fa fa-angle-double-right"></i>Our nindo</a></li>
                        <li><a routerLink="/conditions"><i class="fa fa-angle-double-right"></i>Who we are ?</a></li>
                        <li><a routerLink="/conditions"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Find us</h5>
                    <ul class="list-unstyled">
                        <li class="address">
                            <p>55B Rue du coin paumé</p>
                            <p>Biaritz</p>
                            <p>Bulgarie</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                    <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
                </div>
                <hr>
            </div>
        </div>
    </section>
</footer>
