/* You can add global styles to this file, and also import other style files */

@import "partials/variables";

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #ff7851;
    --orange: #fd7e14;
    --yellow: #ffce67;
    --green: #56cc9d;
    --teal: #20c997;
    --cyan: #6cc3d5;
    --white: #fff;
    --gray: #888;
    --gray-dark: #343a40;
    --primary: #78c2ad;
    --secondary: #f3969a;
    --success: #56cc9d;
    --info: #6cc3d5;
    --warning: #ffce67;
    --danger: #ff7851;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.title{
    font-family: $font-secondary;
}

.section{
    margin-bottom: 70px;
    &__hero{
        margin-bottom: 0;
        max-height: 95vh;
    }
}

html {font-size: 100%;} /*16px*/

body {
    background: $theme-color-bright;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.75;
    color: $theme-color-dark;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: $font-secondary;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

button{

    background-color: var(--secondary)!important;
}
