<div>
    <section class="container col-12 col-sm-8">
        <h2>Easy Climbing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut corporis dolore doloribus, ducimus ex exercitationem iste iusto, odit omnis possimus praesentium quo sunt suscipit ullam. Architecto debitis dolor dolore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aperiam, consequuntur cum ducimus earum error exercitationem facere, facilis fugit odio odit quibusdam quidem ratione recusandae repellat voluptates voluptatibus. Cupiditate.</p>
    </section>
    <section class="nindo">
        <div class="container-fluid">
            <blockquote>"Les meilleurs chaussons sont ceux qui font le plus mal"</blockquote>
            <span>- Un masochiste de la grimpe</span>
        </div>

    </section>
    <section class="container people">
        <h2>Who we are ?</h2>
        <ul>
            <li>
                <img src="https://www.placecage.com/401/401" alt="Quentin">
                <strong class="name">LeBron James</strong>
                <span class="job">Manager</span>
            </li>
            <li>
                <img src="https://www.placecage.com/400/401" alt="Jhon">
                <strong class="name">Patrick Sébastien</strong>
                <span class="job">Ingénieur</span>
            </li>
            <li>
                <img src="https://www.placecage.com/401/400" alt="Sarah">
                <strong class="name">Stagiaire</strong>
                <span class="job">Stagiaire</span>
            </li>
        </ul>
    </section>
</div>
