section{
    margin-bottom: 100px;
}

.nindo{
    background-color: var(--secondary);
    color: #FFF;
    font-size: 22px;
    padding: 4rem;
    blockquote{
        font-style: italic;
        text-align: center;
        padding: 2rem 2rem 0 2rem;
        @media (max-width: 575.98px) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    span{
        font-size: 20px;
        font-weight: bold;
        display: block;
        text-align: right;
    }
}


.people{
    h2{
        text-align: center;
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;

        li{
            @media (max-width: 575.98px) {
                width: 100%;
                margin: 0;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            margin: 10px;
            width: 29%;
        }
    }

    img{
        display: block;
        width: 100%;
    }

    .name,
    .job{
        display: block;
    }

    .name{
        margin-top: .25rem;
        font-size: 22px;
    }
}
